.login{
    background-color: #f2f2f2;
    display: grid;
    place-items: center;
    height: 100vh;


}
.login_container{
    display: flex;
    flex-direction: column;
    background-color: rgb(216, 216, 216);
    padding: 100px 70px;
    border-radius: 10px;
}
.login_container h1{
    font-size: 50px;
}

